body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-wrapper {
    max-width: 1024px;
    background-color: #84d6e4;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;

}
header {
    height: 60px;
    width: 100%;
    background-color: rgb(51, 141, 141);
    position: fixed;
    right:0px;
    left:0px;
    top: 0px;
    text-align: center;
    font-size: large;
    z-index: 9999;
    justify-content: center;
 
}

.Banner {
    height: 200px;
    background-image: url('../Images/banner.JPG');
    background-size: cover;
    background-position: bottom;
    margin-top:50px;
    border-radius: 20px;

}

h1 {
    color: whitesmoke;
    text-shadow: 4px 4px 7px black;
    text-align: center;
    padding-top: 20px;
    font-size: 45px;
}

h2 {
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 25px;
}



.About-me p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

.idpic{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:50px;
    height: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(57, 68, 230);
}

ul {
    display: inline-block;
    text-align: left;
  }

section.work-education {
    text-align: center;
}

.d-flex{
    display: flex;
    background-color: aquamarine;

}
.d-flex>.d-inline{
    display: inline-block;
    background: rgb(174,202,238);
    background: linear-gradient(90deg, rgba(174,202,238,1) 0%, rgba(148,233,203,1) 100%);
    width: 180px;
    padding: 15px;
    margin: 15px;
    border-radius:5px;

}
section.my-portfolio div.d-flex{
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(126, 206, 206);
    border-radius:10px;
}

.page-wrapper1 {
    max-width: 1024px;
    margin: 0 auto;
    padding: 5px;
 

}

.basic-grid {
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color: rgb(120, 224, 35);
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
}

.basic-grid>div,
.advance-grid>div,
.grid-columnrow>div,
.grid-area>div{
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
    background-color: azure;
}

.basic-grid .item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.basic-grid .item6{
    grid-column-start: 2;
    grid-column-end: 4;
}


.basic-grid .item5{
    grid-row: 2/4;
}

.advance-grid {
    display: grid;
    grid-template-columns: auto auto auto  auto auto;
    background-color: rgb(95, 231, 255);
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
}
.advance-grid .item7{
    grid-area: 1 / 2 / 3 / 5 ;
    /* grid area : row start / column start / row end / column end */

}
.advance-grid .item5{
    grid-area: 3 / 3 / 5/ 5 ;

}

#grid h2 {
    color: hsl(236, 85%, 46%);
    text-shadow: 1px 1px 5px rgb(80, 230, 137);
    text-align: center;
    font-size: 35px;
}
.grid-columnrow {
    display: grid;
    grid-template-columns: auto auto auto  auto ;
    background-color: rgb(231, 203, 76);
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
}
.grid-columnrow .item1{
    grid-row: 1/3;
}
.grid-columnrow .item3{
    grid-column: 3/5;
}
.grid-columnrow .item8{
    grid-column: 3/5;
}
.grid-columnrow .item10{
    grid-row: 3/5;
}

.grid-area {
    display: grid;
    grid-template-columns: auto auto auto  auto auto auto ;
    background-color: rgb(231, 103, 44);
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
}

.grid-area .item5 {
    grid-column: 5/7;
    background-color: yellowgreen;
}
.grid-area .item8 {
    grid-area: 2 / 2 / 5 / 4 ;
    /* grid area : row start / column start / row end / column end */
    background-color: aquamarine;
}
.grid-area .item9 {
    grid-area: 2 / 4  / 5 / 6 ;
    background-color: aqua;
}

.navbar ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;

}

.navbar ul li a{
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.navbar ul li:hover{
    background-color: #333333cc;
    
}
.navbar ul li:hover a{
    color: rgb(53, 231, 18);
    text-shadow: 2px 2px 5px blue;
    line-height: 50px;

    
}

.navbar ul li {
    display: inline-block;
    padding: 0 10px;

}
  
@media screen and (max-width:992px){
    header{
        position: absolute;
        height: auto;
        background-color: #333333cc;
        text-align: left;
    }
        
    .navbar ul li{
            display: block;
    }
    .Banner{
            margin-top:240px;
    }

}



.card-text {
    text-align: left; 
}

.col>p{

    font-style: italic;
 
}

.col>h5,
.col>h6 {
    font-family: Courier New, monospace;

 
}

.card-body{
    border-radius: 10px;
    background-color: rgb(157, 233, 243);
}

.navbar {
    justify-content: center;
}

.container>.row>.col.text-end {
    border-right: 3px solid #34a9ca;

}
.container>.row>.order-last {
    border-left: 3px solid #34a9ca;
    text-align: left;

}

.col.text-end::After,
.col.order-last::after{
    content: "\2666";
    font-size: 42px;
    color:#34a9ca;
    position:relative;
    right: -24px;
    top: -129px;
}
.col.order-last::after{
    left: -24px;
 
}

table, th, td{
    border: 1px solid rgb(82, 79, 79) ;
    text-align: center;
  
}

#result,
#result1 {
   font-size: 16px;
   color: blue;
}

